html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus {
    outline: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold');
    src: url('fonts/Gilroy-ExtraBold.svg') format('svg'),
    url('fonts/Gilroyextrabold.eot') format('embedded-opentype'),
    url('fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light');
    src: url('fonts/Gilroy-Light.svg') format('svg'),
    url('fonts/Gilroylight.eot') format('embedded-opentype'),
    url('fonts/Gilroy-Light.woff') format('woff'),
    url('fonts/Gilroylight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: local('OpenSans-Regular');
    src: url('fonts/OpenSans.svg') format('svg'),
    url('fonts/OpenSans-Regular.eot') format('embedded-opentype'),
    url('fonts/OpenSans.woff') format('woff'),
    url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light');
    src: url('fonts/OpenSans-Light.svg') format('svg'),
    url('fonts/OpenSans-Light.eot') format('embedded-opentype'),
    url('fonts/OpenSans-Light.woff') format('woff'),
    url('fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    margin: auto;
    left: 0; right:0;
    width: 1160px;
    background: #f7e296;
    margin-top: 39px;
    /*height: 100px;*/
}
.wrapper {
    margin: auto;
    left: 0; right:0;
    width: 1036px;
}
.header_logo {
    position: relative;
    top: -22px;
    font-family: 'Gilroy-ExtraBold', Verdana, sans-serif;
    font-size: 48px;

}
.header_logo a {
    position: absolute;
    color: black;
    text-transform: uppercase;
    text-decoration: none;

}
.header_logo a:hover {
    color: #464646;
}
.header_logo a:active {
    color: #666666;
}

.header__block {
    padding-top: 32px;
}
.header__block__form {
    display: inline-block;
}
/*.header__block__form__image {
    background: transparent url("icons/search.png") center center no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}*/
.header__block__form__input {
    background: transparent url("icons/search.png") center left no-repeat;
    border: none;
    font-family: OpenSans-Light, Verdana, sans-serif;
    font-size: 13px;
    color: #d2c07f;
    vertical-align: bottom;
    padding-left: 26px;
    float: left;
}
.header__block__form__input:hover {
    color: #635a3c;
}
.focus {
    border-bottom: 2px solid black;
    padding-top: 17px ;
    padding-bottom: 20px ;
    padding-left: 26px;
    float: left;
    width: 356px;
}
.header__block__form__button {
    border: 2px solid black;
    padding: 17px;
    background: none;
    font-family: OpenSans-Light, Verdana, sans-serif;
    vertical-align: bottom;
    float: left;
    display: none;
}
.header__block__form__button:hover {
    background: black;
    color: white;
    font-size: 15px;
}
.header__block__form__button:active {
    color: #4d4d4d;
}

.header__inner {
    display: inline-block;
    float: right;
}
.header__block__login {
    display: inline-block;
}
.header__block__login__image {
    background: transparent url("icons/user.png");
    height: 12px;
    width: 13px;
    display: inline-block;
    margin-right: 10px;
}

.header__block__login__name, .header__block__login__exit {
    font-family: OpenSans-Light, Verdana, sans-serif;
    font-size: 15px;
    display: inline-block;
    color: black;
}

.header__block__login__exit a {
 text-decoration: none;
    color: #d2c07f;
    margin-left: 19px;
}
.header__block__login__exit a:hover {
    color: #635a3c;
}
.header__block__login__exit a:active {
    color: #4d4d4d;
}

.header__block__comparison {
    display: inline-block;
    margin-left: 64px;

}
.header__block__comparison__title a, .header__block__basket__title a {
    font-family: OpenSans-Light, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.header__block__comparison__title:before {
    content: url("icons/comparison.png");
    padding-right: 10px;

}
.header__block__comparison:hover, .header__block__basket:hover {
    opacity: 0.6;
}
.header__block__comparison:active, .header__block__basket:active {
    opacity: 0.3;
}

.header__block__basket {
    display: inline-block;
    margin-left: 42px;
}
.header__block__basket__title:before {
    content: url("icons/basket.png");
    padding-right: 10px;
}

.header__block2 {
    padding-top: 50px;

}

.header__block2__menu__title, .header__block2__delivery, .header__block2__guarantee, .header__block2__contacts {
    display: inline-block;
    font-family: 'Gilroy-ExtraBold', Verdana, sans-serif;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
    cursor: pointer;
}
.header__block2__menu__title:after {
    content: url("icons/plus.png");
    padding-left: 16px;
    vertical-align: -2px;
    cursor: pointer;
}

.header__block2__menu__title:hover, .header__block2__delivery:hover, .header__block2__guarantee:hover,
.header__block2__contacts:hover,
.header__block2__menu__nav li:hover
{
    opacity: 0.6;
}
.header__block2__menu__title:active, .header__block2__delivery:active, .header__block2__guarantee:active,
.header__block2__contacts:active,
.header__block2__menu__nav li:active{
    opacity: 0.3;
}

.header__block2__delivery a, .header__block2__guarantee a, .header__block2__contacts a {
    text-decoration: none;
    color: black;
}

.header__block2__guarantee {
    margin-left: 28px;
}
.header__block2__contacts {
    margin-left: 112px;
}
.header__block2__menu__nav {
    display: none;
}
.header__block2__menu__nav ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 75px;
}
.header__block2__menu__nav li {
    font-family: OpenSans-Light, Verdana, sans-serif;
    font-size: 15px;
    line-height: 36px;
}
.header__block2__menu__nav a {
    text-decoration: none;
    color: black;
}

.breadcrumbs {
    font-family: 'Gilroy-ExtraBold', Verdana, sans-serif;
    font-size: 47px;
    padding-top: 44px;
}

.breadcrumbs__nav {
    padding-top: 23px;
    font-family: OpenSans-Light, Verdana, sans-serif;
    font-size: 14px;
}
.breadcrumbs__nav  li {
    display: inline-block;
}
.breadcrumbs__nav a {
    text-decoration: none;
    color: #b2b2b2;
}
.breadcrumbs__nav a:hover {
    color: #666666;
}
.breadcrumbs__nav a:active {
    color: #e5e5e5;
}
.breadcrumbs__nav  img {
    margin-right: 15px;
    margin-left: 20px;
}

.panel {
    display: block;
    padding-top: 53px;

}
.panel__title {
    display: inline-block;
    background: #dbdbdb;
    /*padding: 27px 0 29px 0;*/
   /*margin: 27px 169px 29px 168px;*/
    width: 32.5%;
    /*max-width: 467px;*/
    float: left;
   }
.panel__title div {
    /*margin-left: 168px;*/
    margin: 27px 169px 29px 168px;
}
.panel__title div, .panel__menu__title {
    letter-spacing: 3px;
    font-family: 'Gilroy-ExtraBold', Verdana, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.panel__menu {
    display: inline-block;
    /*padding: 27px 137px 29px 72px;*/

    background: #ebebeb;
    float: right;
    width: 67.5%;
    /*max-width: 971px;*/
}
.panel__inner {
    /*margin: auto;*/
    /*left:0; right: 0;*/
    padding: 27px 140px 29px 72px;
    /*width: 52.7%;*/
    max-width: 761px;
}

.panel__menu__title {
    display: inline-block;
    margin-right: 56px;
}

.panel__menu__text  {
    display: inline-block;
    margin-right: 30px;

}
.panel__menu__text a{
    text-decoration: none;
    color: black;
    opacity: 0.3;
}
.panel__menu__text a:hover {
    opacity: 0.6;
}
.panel__menu__text a:active {
    opacity: 1;
}

.panel__menu__block {
    display: inline-block;
    float: right;
}

.panel__menu__sort__up {
    background: transparent url("icons/sort_up.png");
    height: 9px;
    width: 17px;
    display: inline-block;
    margin-left: 72px;
    opacity: 0.3;
}
.panel__menu__sort__down {
    background: transparent url("icons/sort_down.png");
    height: 9px;
    width: 17px;
    display: inline-block;
    margin-left: 25px;
    /*margin-right: 25px;*/
    opacity: 0.3;
}

.panel__menu__sort__up:hover, .panel__menu__sort__down:hover {
  opacity: 0.6;
}
.panel__menu__sort__up:active, .panel__menu__sort__down:active {
    opacity: 1;
}

.sidebar {
    display: block;
    clear: both;
    background: #efefef;
    width: 32.5%;
}

.sidebar__block {
    padding: 68px 66px 526px 168px;
}
.sidebar__line{
    border-top: 2px solid black;
    width: 200px;
}

.sidebar__title {
    font-family: 'Gilroy-ExtraBold', Verdana, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    padding-top: 13px;

}

.sidebar__progress {
    height: 1px;
    width: 200px;
    margin: 40px 0 66px 0;
}

.sidebar__form__checkbox {
    width: 200px;
    margin-top: 28px;
    margin-bottom: 39px;
}
.sidebar__checkbox__label {
    display: block;
    position: relative;
    cursor: pointer;
    font-family: OpenSans-Light, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 35px;
    margin-top: 18px;
    vertical-align: 5px;
}
.sidebar__checkbox__label__name {
    vertical-align: -5px;
}

.sidebar__checkbox__label > .sidebar__checkbox {
    position: absolute;
    opacity: 0;
   }

.sidebar__checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dbdbdb;
}

.sidebar__checkbox__checkmark:hover {
    background-color: #cecece;
}
.sidebar__checkbox__label input:checked ~ .sidebar__checkbox__checkmark:active {
    background-color: #c4c4c4;
}
.sidebar__checkbox__label input:checked ~ .sidebar__checkbox__checkmark {
    background-color: #dbdbdb;
}
.sidebar__checkbox__label:hover input:checked ~ .sidebar__checkbox__checkmark {
    background-color: #cecece;
}
.sidebar__checkbox__label:hover input:checked ~ .sidebar__checkbox__checkmark:active {
    background-color: #c4c4c4;
}
.sidebar__checkbox__checkmark:after {
    content: url("icons/tick.png");
    left: 5px;
    top: 5px;
    position: absolute;
    display: none;
}
.sidebar__checkbox__label input:checked ~ .sidebar__checkbox__checkmark:after {
    display: block;
}

.sidebar__form__radio {
    margin-bottom: 54px;
}

.sidebar__radio__label {
    width: 30px;
    display: block;
    position: relative;
    cursor: pointer;
    font-family: OpenSans-Light, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 35px;
    margin-top: 18px;

}
.sidebar__radio__label__name {
    vertical-align: -7px;
}
.sidebar__radio__label > .sidebar__radio {
    position: absolute;
    opacity: 0;
}

.sidebar__radio__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #efefef;
    border: 2px solid #c7c7c7;
    border-radius: 50%;
}

.sidebar__radio__checkmark:hover {
    border: 2px solid #bcbcbc;
}

.sidebar__radio__label input:checked ~ .sidebar__radio__checkmark:active {
    border: 2px solid #afafaf;
}
.sidebar__radio__label input:checked ~ .sidebar__radio__checkmark {
    border: 2px solid #c6c6c6;
}
.sidebar__radio__label:hover input:checked ~ .sidebar__radio__checkmark {
    border: 2px solid #dfdfdf;
}
.sidebar__radio__label:active input:checked ~ .sidebar__radio__checkmark {
    border: 2px solid #acacac;
}

.sidebar__radio__checkmark:after {
    content: url("icons/radio_tick.png");
    left: 8px;
    top: 5px;
    position: absolute;
    display: none;
}
.sidebar__radio__label input:checked ~ .sidebar__radio__checkmark:after {
    display: block;
}

.sidebar__radio__label input:checked ~ .sidebar__radio__checkmark {
    border: 2px solid #c6c6c6;
}
.sidebar__button__block {
    position: relative;
}
.sidebar__button__background {
    /*position: relative;*/
    border-top: 7px solid  #f0c52e;
    width: 200px;
}

.sidebar__button {
    position: absolute;
    top: -6px; left: 43px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Gilroy-ExtraBold', Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
}

.sidebar__button:hover {
    background-color: #f0c52e;
    height: 30px;
    width: 200px;
    left:0;
    padding-top: 14px;
}
.sidebar__button:active span{
    opacity: 0.3;
}